body{
    margin: 0 auto;
    background-color: bisque;
}
.container{
    width: 1000px;
    height: auto;
    background-color: aqua;
    margin: auto;
}
.logo{
    float: left;
    padding: 15px;
}
.search{
    float: right;
    padding: 15px;
}
.clearfix{
    clear: both;
}
.main-menu{
    background-color: aquamarine;
}
.main-menu > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main-menu > ul > li{
    display: inline-block;
}
.main-menu > ul > li > a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
}
.main-menu > ul > li > a:hover{
    background-color: aliceblue;
}
.drop{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
    z-index: 999;
}
.drop > li > a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
    background-color: white;
}
.drop > li > a:hover{
    background-color:aliceblue ;
}
.main-menu > ul > li:hover .drop{
    display: block;
}
.banner{
    width: 1000px;
    height: 500px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 500px;
}
.content-holder{
    background-color:beige;
}
.content{
    width: 700px;
    height: auto;
    padding: 25px;
    background-color:whitesmoke;
    float: left;
}
.content h1{
    font-size: 1.Sem;
    font-family: sans-serif;
}
.content p{
    font-family: sans-serif;
    font-size: small;
}
.sidebar{
    float: left;
    padding: 25px;
}
.sidebar h3{
    font-family: sans-serif;
    color: black;
}
.sidebar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;   
} 
.sidebar ul > li > a{
    display: block;
    margin-bottom: 5px;
    color: black;
    font-family: sans-serif;
    font-style: italic;
    text-decoration: none;
}
.main-footer{
    background-color: black;
    color: white;
    width: 950px;
    height: auto;
    padding: 25px;
}
.footer-box{
    width: 237.5px;
    height: auto;
    float: left;
    font-family: sans-serif;

}
.footer-box > ul{ 
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.footer-box > ul > li > a{
    display: block;
    font-size: small;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}
address p{
    font-size: small;
}
.footer-box address a{
    color: blanchedalmond;
    font-size: small;
}
.copy{
    font-family: sans-serif;
    padding: 25px;
    text-align: center;
    background-color: cornsilk;
    color: black;
}
.copy p{
    margin: 0px;
}
/* pages */
.content img{
    max-width: 100%;
}
/* products */
.product{
    width: 211.33px;
    height: auto;
    float: left;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
/* product caption */
.product-caption p{
    font-weight: bold;
}
.product-caption del{
    color: red;
}
.product-caption ins{
    color: green ;
}
.product-caption a{
    display: block;
    background-color: turquoise;
    padding: 8px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
}
.product-caption a:hover{
    background-color: olive;
}
/*  contact page */
.banner iframe{
    width: 100%;
    height: 500px;
}