.box{
    width: 500px;
    height: auto;
    margin: 25px;
    padding: 15px;
    background-color: teal;
    font-family: sans-serif;
    font-size: small;
    color: white;
    line-height: 1.8em;
    border: 3px solid orange;
    border-radius: 5px;
    box-shadow: 12px 12px 20px rgba(0,0,0,33);
}