div{
    margin: 25px;
    padding: 15px;
    border: 2px solid orange;
    background-color: crimson;
    color: white;
    width: 450px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}