.box{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    position: absolute;
    animation-name: runMe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 10px;
}
@keyframes runMe{
    from{
        background-color: lightcoral;
    }
    to{
        background-color: palegreen;
    }
    0%{
        left: 10px;
        right: 10px;
    }
    25%{
        left: 210px;
        top: 10px;
        width: 50px;
        height: 50px;
        transform: rotate(90deg);
        background-color: bisque;
    }
    50%{
        left: 210px;
        top: 210px;
    }
    75%{
        left: 10px;
        top: 210px;
        width: 50px;
        height: 50px;
        transform: rotate(90deg);
        background-color: aquamarine;
    }
    100%{
        left: 10px;
        top: 10px;
    }
}